.btn-primary {
    background-color: #0A304E;
    border: #0A304E;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0A304E;
    border: inherit;
    box-shadow: inherit;
}

.btn-primary:active {
    background-color: #0A304E;
    border: inherit;
    box-shadow: 0 0 0 .2rem #0A304E;

}

.btn-primary:focus {
    background-color: #0A304E;
    border: inherit;
    box-shadow: inherit;

}

body {
    max-width: 800px;
    margin: 0 auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjy_dvgFk1x34EGSUCwOVERH2vA7r41gROwA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: large;
}

h3 {
    text-align: center
}

span {
    color: #0A304E;
    font-size: medium;
    font-weight: 300;
}

.margin_b {
    margin-bottom: 2.5rem;
}

#profile {
    display: flex;
    margin: 0 auto;
    border-radius: 100px;
}