.white
{
    background-color:#5d08bd; color: white;
}
#back{
    background-color: #221c28; color: white;
    background-image: url(https://www.fcbarcelona.com/photo-resources/2019/09/23/11da7683-a25d-4b46-a5bd-52445ab8a8f8/mini_3200x2000-THE_BEST-MESSI.jpg?width=1200&height=750);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
