#nav .navbar{
    background-color: #5514B4;
    min-height: 90px;
}
#nav .navbar div a{
    color: white;
    font-weight: 600;
    padding: inherit 10px;
}
#hero{
    background-color:#984BFB;
    color: white;
}
#hero h1{
    font-size: 50px;
}
#hero p{
    font-size: 20px;
    line-height: 1.9;
}
#hero h1 span{
    font-size: 45px;
    color: #FE86F4;
}
#hero div button{
    margin-bottom: 30px;
}
.btn-danger:hover{
    background-color: white;
    color: red;
}
.btn-primary{
    background-color: #6400AA;
    color:white;
    border: #6400AA;
}
.btn-primary:hover{
    background-color: #200844;
    border: #200844;
}
#online h1{
    font-weight: 700;
    font-size: 30px;

}
#online{
    background-color:#5514B4;
    color: white;
}
.btn-link{
    color: #fff !important;
    padding-left: 0;
}
.card{
    margin: 5px;
    border: none;
}
.row{
    margin: 0px !important;
}